{% extends 'base.html' %}


{% block content %}
<div class="col-md-4 col-md-offset-4">
    <form method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Product Name"
            />
        </div>
        <div class="form-group">
            <label for="cid">Customer ID</label>
            <input
            type="text"
            class="form-control"
            id="cid"
            name="cid"
            placeholder=""
            />
        </div>
        <div class="form-group">
            <label for="price1">Mobile Number</label>
            <input
            type="text"
            class="form-control"
            id="number"
            name="number"
            placeholder=""
            />
        </div>
        <button type="submit" class="btn btn-primary">Enter</button>
        </form>
    </div>
{% endblock %}
